*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pehli{
    float: left;
    width: 297px;
    height: 400px;
    border: 2px solid white;
    margin: 18px;
    text-align: center;
    color: white;
    box-shadow: 5px 4px 1px 2px white;
}
.pehli img{
    /* border: 2px solid white; */
    width: 284px;
    height: 200px;

}
.pehli button{
    width: 81px;
    height: 30px;
    cursor: pointer;
}