*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    border: 2px solid red;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
button{
    

    width: 84px;
    height: 43px;
    margin: 5px 45%;
}